@font-face {
  font-family: 'roboto';
  src: 
      url('_component/config/font/pug-is-awesome.woff') format('woff'),
      url('_component/config/font/pug-is-awesome.ttf') format('truetype'),
      url('_component/config/font/pug-is-awesome.svg#roboto') format('svg');
  font-weight: normal;
  font-style: normal;

}