doctype html
html(lang="en")
  block title
  head
    title=myTitle
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
  body
    block content
    footer
      br
      | &copy; Pug is Awesome 2018