body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #348fd4;
}

a {
  color: #ffffff;
}

footer {
  color: #ffffff;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  padding: 15px 0px 15px 15px;
  align-items: center;
  background-color: #06406c;
}